// Place all the styles related to the Say controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///////////////////////
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
 
body {
  background: #333;
}
 
.pic {
  border: 10px solid #fff;  
  float: left;
  height: 250px;
  width: 250px;
  margin: 20px;
  overflow: hidden;
   
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}

/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  -webkit-filter: grayscale(100%);
}










///////////////////////

div#rails-work {
	margin-top: 750px;
}


///////////////////////







body {
	background: white;
	width: 960px;
	text-align: center;
	font-family: Verdana;
}

body, h1, h3, h4, p, ul, li, a, img {
	margin: 0;
	padding: 0;
}

header div#top-container {
	width: 960px;
	height: 150px;
}

header div#left-logo {
	float: left;
	margin-left: 55px;
	margin-top: 45px;
	font-weight: bold;
}

header div#left-logo h1 {
	font-size: 35px;
	letter-spacing: 2px;
}

header div#nav {
	float: right;
	margin-top: 67px;
	margin-right: 55px;
}

header div#nav ul li  {
	display: inline;
	font-style: none;
	font-size: 15px;
	padding-right: 15px;
	padding-left: 15px;
	letter-spacing: 3px;
}

header div#nav a {
	text-decoration: none;
	color: black;
}

////////////////////////////

div#work-heading h1 {
	margin-top: 35px;
	font-family: sans-serif;
	font-size: 23px;
	font-weight: 500;
	letter-spacing: 0.14em;
}

div#dots {
	font-size: 13px;
	margin-top: 15px;
	margin-bottom: 20px;
	letter-spacing: 3px;	
}

div#describe {
	color: black;
	font-family: serif;
	font-size: 20px;
	font-weight: 250;
	letter-spacing: .02em;
	line-height: 32px;
	margin: 0px auto;
	padding: 0 0px 72px;
	text-transform: none;
	width: 71%;
}

