<!DOCTYPE html>

<html>
 <head>
   <title>Title of the document</title>
 </head>
 
 
 <body>
  <header>
   <div id="top-container">
    <div id="left-logo">
     <h1>SHIFT</h1>
    </div>
    <div id="nav">
      <ul>
        <li>
          <a href="link">Home</a>
        </li>
        <li>
          <a href="link">About Us</a>
        </li>
        <li>
          <a href="link">Contact</a>
        </li>
        <li>
          <a href="link">Blog</a>
        </li>
        
      </ul>
    </div>
    
  </div>
   <hr>
  </header>
  
  <div id="container">
   
   <div id="work-heading">
     
     <h1>Creative Ideas. Thoughtful Design. Tangible Results.
     </h1>
     
     <div id="dots">
      <p>• • •</p>
     </div>
     
     <div id="describe">
      <p>Shift is a comprehensive design studio based in San Ramon, California. We work with individuals and businesses of all sizes to bring ideas to life through thoughtful, client-oriented design solutions.
      </p>
     </div>
    
    <div id="picture-1">
      <div class="bw pic">
        <img src="http://lorempixel.com/300/300/sports/1" alt="cricket">
      </div>
    </div>
    
    <div id="picture-1">
      <div class="bw pic">
        <img src="http://lorempixel.com/300/300/nature/5" alt="beach">
    </div>
    
    <div id="picture-1">
      <div class="bw pic">
        <img src="http://lorempixel.com/300/300/transport/5" alt="car">
      </div>
    </div>
    
    <div id="picture-1">
      <div class="bw pic">
        <img src="http://lorempixel.com/300/300/technics/2" alt="sea">
      </div>
    </div>
    
    <div id="picture-1">
      <div class="bw pic">
        <img src="http://lorempixel.com/300/300/nature/2" alt="sea">
      </div>
    </div>
    
    <div id="picture-1">
      <div class="bw pic">
        <img src="http://lorempixel.com/300/300/transport/2" alt="plane">
      </div>
    </div>
     
   </div>
  
  
  
  
  
  
  
  
  
  </div>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
   
 </body>
 

</html>




























<div id="rails-work">
 <h1>Shift Your Innovation</h1>
 <p>
  It is now <%= Time.now %>
 </p>

 <p>
  Time to say
  <%= link_to "Goodbye", say_goodbye_path %>!
 </p>
</div>