<!DOCTYPE html>

<html>
 <head>
   <title>Title of the document</title>
 </head>
 
 
 <body>
  <header>
   <div id="top-container">
    <div id="left-logo">
     <h1>SHIFT</h1>
    </div>
    <div id="nav">
      <ul>
        <li>
          <a href="link">Home</a>
        </li>
        <li>
          <a href="link">About Us</a>
        </li>
        <li>
          <a href="link">Contact</a>
        </li>
        <li>
          <a href="link">Blog</a>
        </li>
        
      </ul>
    </div>
    
  </div>
   <hr>
  </header>
  
  <div id="container">
   
   <div id="work-heading">
     
     <h1>Creative Ideas. Thoughtful Design. Tangible Results.
     </h1>
     
     <div id="dots">
      <p>• • •</p>
     </div>
     
     <div id="describe">
      <p>Shift is a comprehensive design studio based in San Ramon, California. We work with individuals and businesses of all sizes to bring ideas to life through thoughtful, client-oriented design solutions.
      </p>
     </div>
   
   </div>
   
   <div id="article">
      
      <div id="words">
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate vt in culpa qui officia deserunt mollit anim id est laborum.
       </p>
      </div>
      
      <div id="one">
       <div class="grow pic">
           <img src="http://lorempixel.com/300/300/nature/2" alt="sea">
       </div>
      </div>
      
      <div id="words">
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate vt in culpa qui officia deserunt mollit anim id est laborum.
       </p>
      </div>
      
      <div id="one">
        <div class="shrink pic">
          <img src="http://lorempixel.com/400/400/nightlife/4" alt="city">
        </div>
       
      </div>
      
  </div>
 </div>
  
  
  <footer>
    <hr>
    
    <div id="links-container">
      <ul>
       
       <li>
         <h3>Location</h3>
         <p>49 Archdale, 2B</p>
         <p>San Ramon, CA 94582</p>
       </li>
       
       <li>
          <h3>Contact</h3>
          <p>843.636.3827</p>
          <p>info@studionudge.com</p>
        </li>
       
        <li>
           <h3>Time</h3>
           <p>
             It is now <%= Time.now %>
           </p>

            <p>
             Time to say
             <%= link_to "Goodbye", say_goodbye_path %>!
            </p>
         </li>
      
      </ul>
    </div>
    
    <div id="bottom">
      <ul>
        
        <li>
         <a href="http://dribbble.com/">Dribbble</a>
        </li>
        
        <li>
         <a href="https://www.facebook.com/">Facebook</a>
        </li>
        
        <li>
         <a href="https://twitter.com/">Twitter</a>
        </li>
        
      </ul>
      
      <p class="copyright">
       © Nudge 2013. All Rights Reserved.
      </p>
    </div>
    
  </footer>
  
   
 </body>
 

</html>


